*{
    font-family: 'Open Sans', sans-serif;
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    height: 100%;
}
.container{
    display: flex;
}
    /* MAIN */
.top{
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 15px;
    border: solid red 1px;
}

.t-left{
    justify-content: space-between;
    align-items: center;
    flex-direction:row ;
}
.ctg{
    color: black;
    padding: 0px 25px;
    height: 100%;
}

.blue-button{
    color: white;
    background-color: #0061ff;
}

.standard-button{
    padding: 10px;
}
    /* MAIN */
main{
    height: calc(100vh - 70px);
}
.hero{
    margin: 0 auto;
    width: 70%;
   /* border: solid; */
   transform: translate(0, 100px);
   padding: 10px;
}
.skyblue{
    background-color:#b4d0e7;
}

.hero h1{
    font-weight: 800;
    font-size: 82px;
}

.hero-container{
    display: flex;
    padding: 40px 0;
    
}

.hero-left{
    width: 60%;
}
.hero-left > span{
    display: inline-block;
    margin: 40px 0;
}
.hero-right img{
    width: 100%;
}

.hero-left i{
    position: absolute;
    bottom: 14%;
}